@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

body {
  height: calc(100vh - 50px);
  font-family: 'Nunito', sans-serif;
  letter-spacing: .1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #EEEEEE;
}

#card {
  width: 650px;
  height: 200px;
  margin: 30px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  top: 20%;
}

#avatar {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

#info {
  width: 100%;
  height: 100%;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}

#name {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#activity {
  color: #999999;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.5px;
  margin: 0;
  padding: 0;
}

#stats {
  margin: auto 0 15px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats-text {
  color: #5B5B5B;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stats-text svg {
  fill: #5B5B5B;
  width: 20px;
  height: 20px;
}

.stats-text span {
  color: #000000;
  font-weight: 800;
  margin: 0 5px;
}

#btn {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  background: #0501f6;
  border-radius: 8px;
  cursor: pointer;
}

#btn:hover {
  background: #2A26FF;
}

/* lklajjjjjjjjjjjjjjjjjj */




